<div>
        <div class="card-container">
            {{#each produce}}
            
                <div class="card-row" style="width: 20rem;">
                    <div class="card-body" >
                        <h5 class="card-title">{{name}}</h5><img href= "/views/images/tomato.jpg"></img>
                        <p class="card-text">
                            <li>Watering Amount: {{water_amount}}.</li>
                            <li>Watering Frequency: {{water_frequency}}.</li>
                            <li>Planting Depth: {{planting_depth}}.</li>
                            <li>Pot Size Needed: {{pot_size}} inches.</li>
                            <li>Hours of Light Needed Per Day: {{amount_of_light}}</li>
                        </p>
                        <button name="{{id}}" class="add-produce">Grow it!</button>
                    </div>
                </div>
            
            {{/each}}
        </div>
</div>

<script src="javascript/add-tracked-produce.js"></script>