
    <div class="home-container">
        {{#unless loggedIn}}
        <div class="home-row">
            <form class="login-form border border-secondary text-right position-fixed p-4">
                <label for="email">Email Address</label>
                <input id="email-login" type="text" name="email" />
                <br/>

                <label for="password">Password</label>
                <input id="password-login" type="password" name="password" />
                <br/>
                
                <button type="submit" class="">login</button>
            </form>
        </div>

        <ul class="col-8 list-group">
            {{#each posts}}
            <li class="list-group-item list-group-item-info mb-2">
                <div>
                    <a class="text-success display-4" href="/post/{{id}}">{{title}}</a> <br/>
                    <p class="lead text-dark">{{ content }}</p>
                    <p class="text-muted lead">{{vote_count}} upvote(s), created on {{format_date created_at}}</p>
                    <a class="text-muted lead" href="/post/{{id}}">{{comments.length}} comment(s)</a>
                </div>
            </li>
            {{/each}}
        </ol>
        {{else}}
        <ul class="col-12 list-group">
            {{#each posts}}
            <li class="list-group-item list-group-item-info mb-2">
                <div>
                    <a class="text-success display-4" href="/post/{{id}}">{{title}}</a> <br/>
                    <p class="lead text-dark">{{ content }}</p>
                    <p class="text-muted lead">{{vote_count}} upvote(s), created on {{format_date created_at}}</p>
                    <a class="text-muted lead" href="/post/{{id}}">{{comments.length}} comment(s)</a>
                </div>
            </li>
            {{/each}}
        </ol>
        {{/unless}}
    </div>


{{#unless loggedIn}}
<script src="/javascript/login.js"></script>
{{/unless}}