<form>
    <label for="email">Email Address</label>
    <input type="text" name="email" />
    <br/>

    <label for="password">Password</label>
    <input type="text" name="password" />
    <button type="submit">login</button>
</form>

<ol>
    {{#each posts}}
    <li>
        <article>
            <div>
                <a href="/post">{{title}}</a> <br/>
                <span>{{ content }}</span>
                <br>
                {{vote_count}} upvote(s) on {{created_at}}
                <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
            </div>
        </article>
    </li>
    {{/each}}
</ol>
